<nb-card *ngIf="errorLog" class="text-center">
  <nb-card-header class="py-4">
    <p>{{errorLog}}</p>
<!--    <div class="py-3">-->
<!--      <label for="name" class="px-2">Vui lòng nhập lại số điện thoại: </label>-->
<!--      <input id="name" [(ngModel)]="phoneNumber"/>-->
<!--    </div>-->
<!--    <button (click)="updatePhone()" class="btn btn-danger">Nhập số điện thoại</button>-->
  </nb-card-header>
</nb-card>
<ng-container *ngIf="!errorLog">
  <nb-card *ngIf="customer !== null && customer.customerId > 0">
    <nb-card-header>Thông tin cá nhân</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group row">
            <label class="label col-sm-4 col-form-label">Họ tên</label>
            <div class="col-sm-8">{{customer.fullName}}</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group row">
            <label class="label col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">{{customer.email}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group row">
            <label class="label col-sm-4 col-form-label">Số điện thoại</label>
            <div class="col-sm-8">{{showPhone(customer.phone)}}</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group row">
            <label class="label col-sm-4 col-form-label">Ngày sinh</label>
            <div class="col-sm-8">{{customer.dateOfBirth}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group row">
            <label class="label col-sm-4 col-form-label">Số điểm hiện có</label>
            <div class="col-sm-8">
              {{point}}
              <button *ngIf="point > 0" class="float-right" nbButton>Chi tiết</button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group row">
            <label class="label col-sm-4 col-form-label">Số điểm sắp dùng</label>
            <div class="col-sm-8">{{pointFuture}}</div>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>Lịch sử liên hệ</nb-card-header>
    <nb-card-body>
      <label class="label col-form-label">Danh sách ticket</label>
      <table class="table table-hover table-bordered">
        <thead>
        <tr class="heart">
          <th>Mã ticket</th>
          <th>Loại ticket</th>
          <th>Họ tên</th>
          <th>Nội dung</th>
          <th>Sản phẩm</th>
          <th>Ngày tạo</th>
          <th>Ngày cập nhật</th>
          <th>Nhân viên phụ trách</th>
          <th>Nhu cầu KH</th>
          <th>Trạng thái KH</th>
          <th>Trạng thái xử lý</th>
        </tr>
        </thead>
        <tbody *ngIf="customer !== null && dataOpp.length > 0">
        <tr *ngFor="let opp of dataOpp; let i = index">
          <td>{{opp.id}}</td>
          <td>{{showItemName(oppType, opp.type)}}</td>
          <td>{{opp.fullName}}</td>
          <td>{{opp.description}}</td>
          <td>
            <div *ngIf="opp.items.length > 0" class="mat-chip">
              <div *ngFor="let item of opp.items">{{item.productName}}</div>
            </div>
          </td>
          <td>{{opp.createdOn | date:"dd-MM-yyyy hh:mm"}}</td>
          <td>{{opp.modifiedOn | date:"dd-MM-yyyy hh:mm"}}</td>
          <td>{{opp.userName}}</td>
          <td>{{showItemName(sourceDetails, opp.oppSource)}}</td>
          <td>{{showItemName(contactStatus, opp.contactStatus)}}</td>
          <td>{{showItemName(processStatus, opp.processStatus)}}</td>
        </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
  <nb-card style="padding-bottom: 5px">
    <nb-card-header>Lich sử mua hàng</nb-card-header>
    <nb-card-body>
      <label class="label col-form-label">Danh sách đơn hàng</label>
      <table class="table table-hover table-bordered">
        <thead>
        <tr class="heart">
          <th>Họ tên</th>
          <th>Mã đơn hàng</th>
          <th>Trạng thái</th>
          <th>Thời gian</th>
          <th>Số điện thoại</th>
          <th>Địa chỉ</th>
          <th>Khuyến mại</th>
          <th>Tổng tiền</th>
        </tr>
        </thead>
        <tbody *ngIf="customer !== null && dataOrder.length > 0">
        <tr *ngFor="let order of dataOrder; let i = index">
          <td>{{order.ShippingCustomerFullName}}</td>
          <td>{{order.OrderCode}}</td>
          <td>{{showOrderStatus(order.OrderStatus)}}</td>
          <td>{{order.OrderCreateDatetime | date:"dd-MM-yyyy hh:mm"}}</td>
          <td>{{showPhone(order.ShippingPhone1)}}</td>
          <td>{{order.ShippingAddressLine1}}</td>
          <td><p *ngFor="let discount of order.OrderDiscounts">{{discount.DiscountName}}</td>
          <td>{{order.OrderValue}}đ</td>
        </tr>
        </tbody>
      </table>
      <label class="label col-form-label" >Danh sách sản phẩm</label>
      <table class="table table-hover table-bordered">
        <thead>
        <tr class="heart">
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
          <th>Thời gian</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of dataProduct; let i = index">
          <td>{{product.ProductName}}</td>
          <td>{{product.Quantity}}</td>
          <td>{{product.OrderCreateDatetime | date:"dd-MM-yyyy hh:mm"}}</td>
        </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
  <nb-accordion style="padding-bottom: 5px;">
    <nb-accordion-item>
      <nb-accordion-item-header>Địa chỉ nhận hàng</nb-accordion-item-header>
      <nb-accordion-item-body>
        <table class="table table-hover table-bordered">
          <thead>
          <tr class="heart">
            <th>Họ tên tên</th>
            <th>Số ĐT</th>
            <th>Địa chỉ nhận hàng</th>
          </tr>
          </thead>
          <tbody *ngIf="customer != null && customer.shippingAddress  != null">
          <tr *ngFor="let address of customer.shippingAddress; let i = index">
            <td><p>{{address.fullName}}</p></td>
            <td><p>{{showPhone(address.phone)}}</p></td>
            <td><p>{{address.address}} - {{address.subDistrictName}} - {{address.districtName}}
              -  {{address.provinceName}}</p></td>
          </tr>
          </tbody>
        </table>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</ng-container>
