@import '../../@theme/styles/themes';

@include nb-install-component() {
  .item-error {
    color: red;
  }

  .item-duplicate {
    color: #ff9f05;
  }
}

::ng-deep .nb-theme-default nb-card-body {
  overflow-x: hidden;
  overflow-y: scroll;
}
.bodyCard {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
