@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .input-number {
    max-width: 8rem !important;
  }

  .line-through {
    text-decoration: line-through;
  }

  .price {
    color: red;
  }
  .promotion {
    color: rgb(30, 255, 0);
  }

  .ng-star-inserted {
    margin: 5px !important;
  }
}
input.ng-untouched.ng-pristine.input-full-width.size-medium.status-basic.shape-rectangle.nb-transition {
  color: black !important;
}
